<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/charlie/Desktop/java_testing/tool-shop">
        <classes>
            <class name="com.achor.RegisterUserTest">
                <methods>
                    <include name="registerTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>